mixin hr
  hr(style='border-top: 1px dashed black; margin-left:0; width:400px')

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style.
      ul {
        padding: 0;
        margin: 0;
      }
      li {
        margin: 0;
        list-style-type: none;
      }
      .mb-0 {
        margin-bottom: 0;
      }
  body
    include layout/header.pug

    block content
    
    include layout/footer.pug
