extends template.pug

block content 
  div(style='margin:30px; padding: 30px; border:1px solid black; border-radius: 20px 10px;')
    p
      | To verify your email, click on this link 
      a(href=context.verifyEmailUrl) Verify email
    p If you did not create an account, then ignore this email.
